<div class="container-fluid m-0 w-100 vh-100">
  <div class="d-flex h-100">
    <div class="col-sm-3 m-4  d-none d-lg-block d-xl-block bg-white rounded-lg">
      Image goes here
    </div>
    <div class="col-sm h-100">
      <div class="row text-center h-100">
        <div class="ah-section ah-top-left rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-headline p-none m-none clip is-full-width">
              <span class="font-weight-normal text-black-50">Hi There ! I'm</span>
              <span class="d-block font-weight-bold font-size-2rem text-dark">Ahmer Ali Ahsan</span>
              <!-- <span class="d-block font-weight-bold text-warning" style="width: 194px;">
                {{display}}
              </span> -->
              <div #myDiv data-words='["Woah", "This dog", "Much judge"]' data-wait="1000" class="d-block font-weight-bold text-warning" style="width: 194px;">

              </div>
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title" data-text="Explore Me">
              Explore Me
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title" data-text="My Projects">
              My Projects
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title" data-text="Hire Me">
              Hire Me
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
