<div class="container-fluid m-0 w-100 vh-100">
  <div class="d-flex h-100">
    <div class="col-sm-3 m-4  d-none d-lg-block d-xl-block bg-white rounded-lg">
      Image goes here
    </div>
    <div class="col-sm h-100">
      <div class="row text-center h-100">
        <div class="ah-section ah-top-left rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-headline p-none m-none clip is-full-width">
              <span class="font-weight-normal text-black-50">Hi There ! I'm</span>
              <span class="d-block font-weight-bold font-size-2rem text-dark">Ahmer Ali Ahsan</span>
              <span class="d-block font-weight-bold text-warning" style="width: 194px;">
                {{typewriter_display }}
              </span>
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title">
              <span>About </span>
              <span>Me</span>
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title">
              <span>About </span>
              <span>Me</span>
            </h3>
          </div>
        </div>
        <div class="ah-section rounded-lg">
          <div class="ah-box ah-row d-flex align-items-center justify-content-center">
            <h3 class="ah-dashboard-title">
              <span data-hover="About">About </span>
              <span data-hover="Me">Me</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
